<div class="easyui-accordion" style="margin:0px;">

    
        <div title="模型图像识别" style="width: 180px;">
            <ul style="list-style:none;margin-left:0px">

                <li><a href="#" class="easyui-linkbutton c1" style="width:180px">下载EASYDL</a></li>
                <li><a href="#" class="easyui-linkbutton c2" style="width:180px">EASYDL模型训练步骤</a></li>


            </ul>
        </div>
        <div title="图像识别和结果" style=" width: 180px;">
            <ul style="list-style: none; margin-left: 0px">


                <li><a href="#" class="easyui-linkbutton c1" style="width:180px">开启EASYDL SDK工具</a></li>
                <li><a href="#" class="easyui-linkbutton c2" style="width:180px">本地获取检测图片</a></li>
                <li><a href="#" class="easyui-linkbutton c3" style="width:180px">物体识别结果</a></li>
            </ul>
        </div>
        <div title="识别结果计算" style=" width: 180px;">
            <ul style="list-style: none; margin-left: 0px">

                <li><a href="#" class="easyui-linkbutton c1" style="width:180px">相关数据输入</a></li>
                <li><a href="#" class="easyui-linkbutton c2" style="width:180px">相关数据输出</a></li>
            </ul>
        </div>
   
</div>

