<div class="footer">
    <center>
        <p>

            <span><a href="http://www.ahu.edu.cn/" title="安徽大学" target="_blank">EasyDL模型</a></span>

            <span><a href="http://tgw.ahu.edu.cn/" title="安徽省高校图工委" target="_blank">图像检测、图像识别</a></span>

            <span><a href="http://csj.lib.sjtu.edu.cn/" title="长三角高校图书馆联盟" target="_blank">工业校对位置</a></span>

            <span><a href="http://www.scal.edu.cn/" title="全国高校图工委" target="_blank">自动化数据处理</a></span>

            <span><a href="http://www.sal.edu.cn/" title="中国图书馆学会" target="_blank">工业人眼标定文章</a></span>

            <span><a href="http://www.calis.edu.cn/" title="CALIS管理中心" target="_blank">工业计算机图像识别</a></span>




        </p>
        <p><span>安徽省合肥市</span>   <span>邮编:230601</span>      <span>安徽省合肥市</span>   <span>邮编:230039</span></p>
        <p><span>版权信息：Copyright © 归个人所属</span>   <span><a href="admin_login/main.php" target="\&quot;_blank\&quot;">后台管理</a>  </span> </p>
    </center>
</div>
