<div style="margin:20px 0;height:530px;">
    <h1 style="display:block">请将图像识别文件放在image文件夹下</h1>
    <h1 style="display:block">
        <input type="file" value="上传图片" id="image" class="image" onchange="change()">
        <span>上传图片显示</span>
        <button style="margin-left:300px;" onclick="click1()">图像识别结果</button>
        <input type="text" id="result" list="6" />
    </h1>


    <img src="" width="100" height="100" id="img1" />



</div>
<script>
    window.onload = function () {
        window.xu = "image";
    }
    function change() {
        var image = document.getElementById("image");
        var ima = image.value;
        var fileName = image.files[0].name;
        var img = document.getElementById("img1");

        if (window.FileReader) {
            var fr = new FileReader();
            fr.readAsDataURL(image.files[0]);
            fr.onloadend = function () {
                img.src = fr.result;
            }
        }
        xu = ima;
        alert(xu);
    }
    function click1() {
        location.href = "getresult?xu="+xu;
        @*$.ajax({
            type: "post",
            url: "https://localhost:44391/Home/test1",
            data: "{'xu':'677'}",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert("dfghgf");
            }
            
        });*@
       
    }
</script>
<!--<script>
    function upload() {
        OpenFileDialog ofd = new OpenFileDialog();
        ofd.Multiselect = false;//设置是否可以多选
        ofd.Title = "请选择要处理的文件";//窗口title
        ofd.Filter = "*.png|*.jpg|*.PNG";//筛选文本文件
        var filepath="";
        if (ofd.ShowDialog() == DialogResult.OK) {
            filepath = ofd.FileName;
        }
        var image = document.getElementById("image");
        image.src = filepath;
    }
</script>-->
