
@{
    ViewBag.Title = "center1";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic LinkButton - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.7.0/themes/color.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.7.0/demo/demo.css">
    <script type="text/javascript" src="~/Content/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

</head>
<body style="padding:0px">
    <div style='height:490px;' id='center2' class='center2'><textarea id='text' rows='30' maxlength='50' style='width:1000px'>fhghfhjgfhfghfg</textarea></div>
    </body>
</html>
