



<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">

        function alertString() {
            alert("dfsfdsff");
            var str = ajax_use.getString("fdg").value;
            alert(str);
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <input type="button" value="获取信息" onclick="alertString();" />
        </div>
    </form>
</body>
</html>
